body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	background-image:  url(img/neon-background2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}




#game-board {
	width: 300px;
	height: 300px;
	background-color: none;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
	margin-top: 20px;

}


p {
	margin: 15px;
  	font-size: 25px;
 	color: #fff;
  	animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffd22d, 0 0 40px #ffd22d, 0 0 50px #ffd22d, 0 0 60px #ffd22d, 0 0 70px #ffd22d;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ffd22d, 0 0 40px #ffd22d, 0 0 50px #ffd22d, 0 0 60px #ffd22d, 0 0 70px #ffd22d, 0 0 80px #ffd22d;
  }
}


.square {
	width: 100px;
	height: 100px;
	background-color: none;
	border: solid 3px rgb(255, 255, 255);
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle {
	height: 90px;
	width: 90px;
	border-radius: 50%;
	border: 15px solid rgb(63, 63, 211);
	box-sizing: border-box;
	box-shadow: 0 0 20px white;
	box-shadow: inset 0 0 10px white;
}


.cross {
	height: 90px;
	width: 90px;
	position: relative;
	transform: rotate(45deg);
}

.cross:before, .cross:after {
	content: "";
	position: absolute;
	background-color: rgb(249, 0, 149);
	box-shadow: 0 0 10px white;

}


.cross:before{
	left: 50%;
	width: 30%;
	margin-left: -15%;
	height: 100%;
}


.cross:after{
	top: 50%;
	height: 30%;
	margin-top: -15%;
	width: 100%;
}



/* remove border for edges */
.square:nth-child(1), .square:nth-child(2), .square:nth-child(3) {
	border-top: none;
	background-color: none;
}

.square:nth-child(1), .square:nth-child(4), .square:nth-child(7) {
	border-left: none;
}

.square:nth-child(3), .square:nth-child(6), .square:nth-child(9) {
	border-right: none;
}

.square:nth-child(7), .square:nth-child(8), .square:nth-child(9) {
	border-bottom: none;
}


button {
	width: 100px;
	height: 30px;
	cursor: pointer;
	font-weight: 800;
	color: rgb(0, 0, 0);
	background-color: #fbbcff;
	border: none;
	border-radius: 10%;
	margin-top: 10px;
	text-align: center;
	transition: transform .2s;
}

button:hover {
	background-color: #d6a2da;
	transform: scale(1.5);
}